body {
  background-color: #090909;
  width: 100vw;
}

p, a, li, h1, h2, h3, h4, select, animated-select {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

small {
  color: #777;
}

a:visited {
  color: #b03c99;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5em;
  padding: 1.5em;
  background-color: #141414;
}
nav h1 {
  font-size: 2em;
  font-weight: 500;
  z-index: 100;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main > small {
  margin: 1em;
}

select {
  padding: 0.5em;
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  color: black;
}

td {
  color: white;
}

animated-select {
  background-color: #eee;
  border-radius: 0.3em;
  color: #090909;
  overflow: hidden;
  white-space: nowrap;
}
animated-select h2 {
  opacity: 0;
  font-size: 2em;
  color: #101010;
  position: absolute;
}
animated-select h2.incoming {
  position: relative;
  opacity: 100;
  transition: all 0.6s;
  animation-name: slidein;
  animation-duration: 0.4s;
}
animated-select h2.outgoing {
  position: relative;
  transition: all 0.6s;
  animation-name: slideout;
  animation-duration: 0.2s;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 5em;
  width: 100%;
}
@media (max-width: 600px) {
  .hero {
    padding: 2em;
  }
}
.transition {
  display: flex;
  justify-content: center;
  background: #a53890;
  padding: 1.1em;
  box-shadow: 0px 0px 10px black inset;
  font-weight: bolder;
}

.weChall {
  background-color: #141414;
  padding: 1em;
}
.weChall .row {
  gap: 1em;
}
.weChall .col {
  max-width: 50%;
}
@media (max-width: 600px) {
  .weChall .col {
    max-width: 100%;
  }
}

.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  gap: 0.9em;
}
@media (max-width: 600px) {
  .navItems {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: absolute;
    top: 5em;
    left: 0;
    padding: 2em;
    background-color: #141414;
    transform: translateY(calc(-100% - 5em));
    transition: transform 0.2s ease-out;
  }
  .navItems p {
    width: 100%;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
  }
  .navItems p:hover {
    background-color: #090909;
    transition: background-color 0.2s;
    border-radius: 0.1em;
  }
  .navItems.opened {
    display: flex;
    transform: translateY(0);
  }
}

.navButton {
  display: none;
  flex-direction: column;
  gap: 0.3em;
  cursor: pointer;
  padding: 0.6em;
}
.navButton .line {
  width: 1.5em;
  height: 0.2em;
  background-color: white;
  transition: transform 0.2s;
}
.navButton .line .line1 {
  transform-origin: top left;
}
.navButton .line .line3 {
  transform-origin: bottom left;
}
.navButton.opened .line1 {
  transform-origin: top left;
  transform: rotate(45deg);
}
.navButton.opened .line2 {
  transform: scaleX(0);
}
.navButton.opened .line3 {
  transform-origin: bottom left;
  transform: rotate(-45deg);
}
@media (max-width: 600px) {
  .navButton {
    display: flex;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
    filter: blur(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 100%;
  }
}

/*# sourceMappingURL=global.css.map */
