<%# inspiration: https://iamfaqeehhokyky.github.io/# %>

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my slice.</title>
    <link rel="stylesheet" href="/styles/css/reset.css">
    <link rel="stylesheet" href="/styles/css/global.css">
    <script src="/scripts/animatedSelectElement.js" defer></script>
    <script src="/scripts/navMenuButtonAnimation.js" defer></script>

</head>

<body>

    <nav>

        <h1>KKPortfolio</h1>

        <div class="navWrapper">


            <div id="mobileNavMenu" class="navItems">

                <p>Home</p>

            </div>

            <div id="navMenuButton" class="navButton">

                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>

            </div>


        </div>

    </nav>

    <main>

        <section class="hero">

            <h2 style="font-size: 3em;">Hi!🙂</h2>
            <h2>How can I help you?</h2>

            <animated-select>
                <h2>Backend [Node.js]</h2>
                <h2>Backend [SQL Queries]</h2>
                <h2>Backend [Relational DB Admin.]</h2>
                <h2>Backend [Database Architecture]</h2>
                <h2>Python</h2>
                <h2>Frontend [Vanilla JS]</h2>
                <h2>Frontend [HTML]</h2>
                <h2>Frontend [CSS/SASS]</h2>
                <h2>Frontend [React]</h2>
                <h2>Linux Administration</h2>
                <h2>Windows Administration</h2>
                <h2>MacOS Administration</h2>
                <h2>Process Automation</h2>
                <h2>REST API's and Integration</h2>
                <h2>BASH Scripting</h2>
            </animated-select>

            <small>The above "animated-select" element <a target="_blank" href="https://github.com/CroogQT/karimkhalil.com/blob/heroSection/public/scripts/animatedSelectElement.js">was created with</a> the <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements">HTML custom element standard</a>!</small>

        </section>

        <section class='transition'>

            <p>But don't take MY word for it, let me show you!</p>

        </section>

        <section>

            

        </section>


    </main>

</body>

</html>