<%# inspiration: https://iamfaqeehhokyky.github.io/# %>

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my slice.</title>
    <link rel="stylesheet" href="/styles/css/reset.css">
    <link rel="stylesheet" href="/styles/css/global.css">
    <script src="/scripts/animatedSelectElement.js" defer></script>
    <script src="/scripts/navMenuButtonAnimation.js" defer></script>

</head>

<body>

    <nav>

        <h1>KKPortfolio</h1>

        <div class="navWrapper">


            <div id="mobileNavMenu" class="navItems">

                <p>Home</p>

            </div>

            <div id="navMenuButton" class="navButton">

                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>

            </div>


        </div>

    </nav>

    <main>

        <section class="hero">

            <h2 style="font-size: 3em;">Hi!🙂</h2>
            <h2>How can I help you?</h2>

            <animated-select>
                <h2>Backend [Node.js]</h2>
                <h2>Backend [SQL Queries]</h2>
                <h2>Backend [Relational DB Admin.]</h2>
                <h2>Backend [Database Architecture]</h2>
                <h2>Python</h2>
                <h2>Frontend [Vanilla JS]</h2>
                <h2>Frontend [HTML]</h2>
                <h2>Frontend [CSS/SASS]</h2>
                <h2>Frontend [React]</h2>
                <h2>Linux Administration</h2>
                <h2>Windows Administration</h2>
                <h2>MacOS Administration</h2>
                <h2>Process Automation</h2>
                <h2>REST API's and Integration</h2>
                <h2>BASH Scripting</h2>
            </animated-select>

            <small>The above "animated-select" element <a target="_blank" href="https://github.com/CroogQT/karimkhalil.com/blob/heroSection/public/scripts/animatedSelectElement.js">was created with</a> the <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements">HTML custom element standard</a>!</small>

        </section>

        <section class='transition'>

            <p>But don't take MY word for it, let me show you!</p>

        </section>

        <section class="weChall">

            <h2>We Chall Web Scraper</h2>
            <hr style="">
            <hr style="width: 20px;">
            <div class="row">

                <div class="col">

                    <h3>Technologies Involved</h3>
                    <ul>
                        <li>NodeJS</li>
                        <li>ExpressJS</li>
                    </ul>
                    <h3>Description</h3>
                    <p><a href="https://wechall.net" target="_blank">Wechall.net</a> is a site that allows users to get an overview of their challenge history on various third party sites though various integrations.</p>
                    <br>
                    <p>Without using a public API, this small application fetches details about my personal progress and updates a database.</p>
                    <p>If you'd like to validate the data you're being shown, you can <a href="https://wechall.karimkhalil.com">check my progress on WeChall here!</a></p>

                </div>

                <div class="col app">

                    <div class="header">

                        <p>My Latest Activity</p>

                    </div>
                    

                </div>
                
            </div>

        </section>

        <small>Notice in the above example that the "check my progres on WeChall" link points to <a href="https://wechall.karimkhalil.com">https://wechall.karimkhalil.com</a>. Wow, this guy must understand DNS! 😮</small>


    </main>

</body>

</html>